# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Logs
logs
*.log

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Git
.git/
.gitignore

# Other
.DS_Store
Thumbs.db